---
layout: base
video_id: 'Z_HFv_6j0lI'
youtube: true
---

{# <header class="section spot-color-secondary">
  <div class="container">
    <div class="carousel-viewport">
      <ul role="list" class="items" style="margin: 0">
        <li class="item">
          {% imagePlaceholder "./src/assets/images/pup.jpeg", "Grace United Methodist Church Logo"%}
        </li>
        <li class="item">
          <img src='https://images.unsplash.com/photo-1611507929918-08ee0bcb42d7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzE4OTc4OQ&ixlib=rb-1.2.1&q=80&w=1200' width="1200" height="675" alt=''>
        </li>
        <li class="item">
          <img src='https://images.unsplash.com/photo-1589441161120-8781d5644435?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzE4NzY1MQ&ixlib=rb-1.2.1&q=80&w=1200' width="1200" height="675" alt=''>
        </li>
        <li class="item">
          <img src='https://images.unsplash.com/photo-1518914781460-a3ada465edec?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzE4OTg0MA&ixlib=rb-1.2.1&q=80&w=1200' width="1200" height="675" alt=''>
        </li>
      </ul>
    </div>
    <button class="carousel-control prev" title="Go to previous item">
      <svg viewBox="0 0 256 512">
        <path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/>
      </svg>
    </button>
    <button class="carousel-control next" title="Go to next item">
      <svg viewBox="0 0 256 512">
        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
      </svg>
    </button>
    <ol class="carousel-dots">
      <li class="dot active">1</li>
      <li class="dot">2</li>
      <li class="dot">3</li>
      <li class="dot">4</li>
    </ol>
  </div>
</header> #}

<header class="section region spot-color-dark" style="padding:0;">
  <div class="section__inner region">
    <div class="wrapper grid" style="align-items:center;" data-layout="50-50">
      <div class="flow">
        <h1>Welcome to Grace United Methodist Church</h1>
        <p>Serving Franklin, Shelbyville, Trafalgar, Greenwood, & surrounding communities</p>
        <a href="https://www.youtube.com/@franklingraceumc9586">Hi there whats up</a>
        <a href="https://www.youtube.com/@franklingraceumc9586">Hey</a>
      </div>
      {% youtube 'Z_HFv_6j0lI',
      'Make Love Your Aim' %}
      {# {% imagePlaceholder "./src/assets/images/pup.jpeg", "Grace United Methodist Church Logo"%} #}
    </div>
  </div>
</header>

{# <header class="section region spot-color-dark" style="padding:0;">
  <div class="section__inner region">
    <div class="wrapper grid" style="align-items:center;" data-layout="50-50">
      <div class="flow">
        <h1>Welcome to Grace United Methodist Church</h1>
        <p>Serving Franklin, Shelbyville, Trafalgar, Greenwood, & surrounding communities</p>
      </div>
      <div class="frame">
        {% imagePlaceholder "./src/assets/images/pup.jpeg", "Grace United Methodist Church Logo"%}
      </div>
    </div>
  </div>
</header> #}

<article class="region">
  <div class="wrapper flow">
    <div class="flow">
      <ul class="flow" role="list">
        <li>
          <h3>Service Times</h3>
        </li>
        <ul>
          <li>Saturdays @ 5:30p</li>
          <li>Sundays @ 9a & 11:00a </li>
        </ul>
        <li>
          <h3>Sunday School</h3>
        </li>
        <ul>
          <li>Sundays @ 10:15a</li>
        </ul>
    </ul>
    <p>The Sunday morning services will continue to be live-streamed for those who are not ready to attend in-person.</p>
  </div>
  <ul class="reel" role="list">
    <li class="frame">
      {% imagePlaceholder "./src/assets/images/pup.jpeg", "Grace United Methodist Church Logo"%}
    </li>
    <li class="frame">
      {% imagePlaceholder "./src/assets/images/pup.jpeg", "Grace United Methodist Church Logo"%}
    </li>
    <li class="frame">
      {% imagePlaceholder "./src/assets/images/pup.jpeg", "Grace United Methodist Church Logo"%}
    </li>

  </ul>
</div>
</article>

<article class="region">
<div class="wrapper flow">
  <h2>Follow us on Facebook</h2>
  <p>There are multiple ways to connect with us!</p>
  <ul class="switcher" role="list">
    <li class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae nisi dolore id non illum molestiae quidem voluptates quisquam quam, rem maiores ut in rerum error nostrum ea ab voluptatum facere?
      </li>
    <li class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae nisi dolore id non illum molestiae quidem voluptates quisquam quam, rem maiores ut in rerum error nostrum ea ab voluptatum facere?
      </li>
    <li class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae nisi dolore id non illum molestiae quidem voluptates quisquam quam, rem maiores ut in rerum error nostrum ea ab voluptatum facere?
      </li>
  </ul>
</div>
</article>

<article class="region">
<div class="wrapper flow">
  <ul class="grid" role="list" data-layout="50-50">
    <li class="flow">
      <h2>Live Streaming Throughout the Week!</h2>
      <p>Join us virtually during Service of Worship live on Sundays at 9:00 or 11:00 a.m. You can join us live on our Youtube channel by clicking the button below. If at first you don't see the live service stream, wait several minutes and refresh your browser.</p>
    </li>
    <li>
      {% youtube 'Z_HFv_6j0lI',
      'Make Love Your Aim' %}
    </li>
  </ul>
</div>
</article>

<article class="region">
<div class="wrapper flow prose">
  <h2>Subscribe to Our Mailing Lists</h2>
  <div class="">
    <div class="flow">
      <label for="email">Email</label>
      <input type="email" name="email" id="">
    </div>
    <div class="flow">
      <label for="fname">First Name</label>
      <input type="text" name="fname" id="">
    </div>
    <div class="flow">
      <label for="lname">Last Name</label>
      <input type="text" name="lname" id="">
    </div>

  </div>

  <p>Join us virtually during Service of Worship live on Sundays at 9:00 or 11:00 a.m. You can join us live on our Youtube channel by clicking the button below. If at first you don't see the live service stream, wait several minutes and refresh your browser.</p>

</div>
</article>

<article class="region">
<div class="wrapper flow prose">
  {{ content | safe }}
</div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
<div class="wrapper flow prose">
  <h2>{{ blog.title }}</h2>
  <!-- blog intro text is optional. -->
  {% if blog.intro %}
    <p>{{ blog.intro }}</p>
  {% endif %}
</div>
<!-- TODO: duplicate of partials/blog.njk -->

<ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
  {% set postslist = collections.posts %}
  {% for post in postslist.slice(0, 4) %}

    <li class="card flow overflow-hidden">
      <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      {% set definedDate = post.date %}
      {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

  {% endfor %}
</ul>
</article>